# Removing Trends - Lab

## Introduction

In this lab, you'll practice your detrending skills!

## Objectives

You will be able to:
* Learn how to remove trends and seasonality
* Use a log transformation to minimize non-stationarity
* Use rolling means to reduce non-stationarity
* Use differencing to reduce non-stationarity

## Detrending the Airpassenger data

In [2]:
# Import necessary libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline
# Import passengers.csv and set it as a time-series object. Plot the TS
ts = pd.read_csv('passengers.csv')
from statsmodels.tsa.stattools import adfuller

In [3]:
ts['Month'] = pd.to_datetime(ts.Month)
ts = ts.

          Month  #Passengers
0    1949-01-01          112
1    1949-02-01          118
2    1949-03-01          132
3    1949-04-01          129
4    1949-05-01          121
5    1949-06-01          135
6    1949-07-01          148
7    1949-08-01          148
8    1949-09-01          136
9    1949-10-01          119
10   1949-11-01          104
11   1949-12-01          118
12   1950-01-01          115
13   1950-02-01          126
14   1950-03-01          141
15   1950-04-01          135
16   1950-05-01          125
17   1950-06-01          149
18   1950-07-01          170
19   1950-08-01          170
20   1950-09-01          158
21   1950-10-01          133
22   1950-11-01          114
23   1950-12-01          140
24   1951-01-01          145
25   1951-02-01          150
26   1951-03-01          178
27   1951-04-01          163
28   1951-05-01          172
29   1951-06-01          178
..          ...          ...
114  1958-07-01          491
115  1958-08-01          505
116  1958-09-01          404
117  1958-10-01          359
118  1958-11-01          310
119  1958-12-01          337
120  1959-01-01          360
121  1959-02-01          342
122  1959-03-01          406
123  1959-04-01          396
124  1959-05-01          420
125  1959-06-01          472
126  1959-07-01          548
127  1959-08-01          559
128  1959-09-01          463
129  1959-10-01          407
130  1959-11-01          362
131  1959-12-01          405
132  1960-01-01          417
133  1960-02-01          391
134  1960-03-01          419
135  1960-04-01          461
136  1960-05-01          472
137  1960-06-01          535
138  1960-07-01          622
139  1960-08-01          606
140  1960-09-01          508
141  1960-10-01          461
142  1960-11-01          390
143  1960-12-01          432

[144 rows x 2 columns]

## Create a stationarity check

At this stage, we can use the code from previous labs to create a function `stationarity_check(ts)` that takes in a time series object and performs stationarity checks including rolling statistics and the Dickey Fuller test. 

We want the output of the function to:
- Plot the original time series along with the rolling mean and rolling standard deviation in one plot
- Output the results of the Dickey-Fuller test

In [2]:
# Create a function to check for the stationarity of a given timeseries using rolling stats and DF test
# Collect and package the code from previous lab
adfuller()

Use your newly created function on the airpassenger data set.

In [3]:
# Code here

## Perform a log() and sqrt() transform

In [4]:
# Log transform timeseries and compare with original to check the effect

moving forward, let's keep working with the log transformed data before subtracting rolling mean, differencing, etc.

## Subtracting the rolling mean

Create a rolling mean using your log transformed time series, with a time window of 7. Plot the log-transformed time series and the rolling mean together.

In [5]:
# your code here

Now, subtract the rolling mean from the time series, look at the 10 first elements of the result and plot the result.

In [6]:
# Subtract the moving average from the original data and check head for Nans

In [7]:
# Drop the NaN values from timeseries calculated above

In [8]:
# Plot the result

Finally, use your function `check_stationarity` to see if this series is considered stationary!

In [9]:
# Your code here

### Based on the visuals and on the Dickey-Fuller test, what do you conclude?

## Subtracting the weighted rolling mean

Repeat all the above for the *weighter* rolling mean. Start from the log-transformed data again. Compare the Dickey-Fuller Test results. What do you conclude?

In [10]:
# Use Pandas ewma() to calculate Weighted Moving Average of ts_log

# Plot the original data with exp weighted average

In [11]:
# Subtract the moving average from the original data and plot

In [12]:
# do a stationarity check

### Based on the visuals and on the Dickey-Fuller test, what do you conclude?

## Differencing

Using exponentially weighted moving averages, we seem to have removed the upward trend, but not the seasonality issue. Now use differencing to remove seasonality. Make sure you use the right amount of `periods`. Start from the log-transformed, exponentially weighted rolling mean-subtracted series.

After you differenced the series, run the `stationarity check` again.

In [13]:
# difference your data and look at the head

In [14]:
# plot your differenced time series

In [15]:
# drop nas

In [16]:
# perform the stationarity check

### Your conclusion

## Summary 

In this lab, you learned how to make time series stationary through using log transforms, rolling means and differencing.